* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(199, 204, 207);
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-weight: 500;
}

article.product-offer-poster {
    display: flex;
    margin: 3rem;
    min-height: 45vw;
    box-shadow: 10px 14px 14px rgba(36, 36, 36, 0.364);
}

section.product-offer-image {
    background-color: #ffcf30;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.product-offer-image>img {
    width: 100%;
    margin-top: auto;
}

section.product-offer-image>h2 {
    align-self: flex-end;
    margin-top: auto;
    font-weight: 400;
}

section.product-offer-info {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

section.product-offer-info>h1 {
    margin-top: 1rem;
}

section.product-offer-info>h3 {
    margin-bottom: 1rem;
}

section.product-offer-info>button {
    margin-top: auto;
    width: max-content;
    align-self: flex-end;
    background-color: white;
    border: 1px solid black;
    padding: 0.8rem 1.2rem;
}